@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}



/*header*/

nav{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


div ul{
    display: flex;
    justify-content: space-around;
    width: 400px;
    list-style: none;
}


div ul li a{
    text-decoration: none;
    color: #242E52;
    transition: all 0.5s ease-in-out;
}

div ul li a:hover{
    color: red;
    transform: (1.5);
}

div ul li a:active{
    color: red;
}

.contact{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba (255, 0, 0, .5);
    border: 2px solid #8B48BF;
    transition: all .5S  ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

div button:hover{
    background-color: #8B48BF;
    color: #fff;
    transform: scale(1.1);
}

.burguer{
    display: none;
}


/*main*/

.sec-big-container{
    display: flex;
    justify-content: center;
}

.big-container{
    width: 60rem;
    height: 25rem;
    display: flex;
    justify-content: space-between;
}

.big-container img{
    height: 90%;
    width: 80%;
    margin: 15px;
}

.right-container{
    width: 40%;
    text-align: end;
    margin: 10px;
    color: #242E52;
}

h1{
    font-size: 36px;
    margin: 10px;
}

.right-container h2{
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
    color: #000;
}

.right-container button{
    margin: 10px;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba (255, 0, 0, .5);
    border: 2px solid #8B48BF;
    transition: all .5S  ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}


.right-container button:hover{
    background-color: #8B48BF;
    color: #fff;
    transform: scale(1.1);
}

.purple-container{
    width: 100vw;
    height: 170px;
    background-color: #8B48BF;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.left-container-bottom{
    margin-left: 100px;
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.left-container-bottom p{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.right-container-bottom{
    width: 30%;
    height: 50%;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.right-container-bottom p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.sec-donec{
    display: flex;
    justify-content: center;
}

.donec-container{
    height: 170px;
    width: 90%;
    margin: 30px;
    display: flex;
}


.donec-container-left{
    width: 45%;
    height: 158px;
    display: flex;
    margin: 15px;
}

.button01{
    background-color: #8B48BF;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.donec-container-left h2{
    font-size: 16px;
    font-weight: 700;
    color: #323851;
    margin: 5px;
}

.donec-container-left p{
    font-size: 16px;
    color: #B3B2B7;
    margin: 5px;
    font-weight: 300;
}

.h2-p{
    margin: 5px;
}


.sec-donec-03{
    display: flex;
    justify-content: center;
    align-items: center;
}


.best{
    text-align: center;
    margin-top: 70px;
}

.sec-articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 50px;
}

.sec-articles article{
    height: 250px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.sec-articles h2{
    color:#3f4868;
    font-size: 16px;
    font-weight: 700;
}

.sec-articles article p{
    text-align: center;
}


.sec-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.below-article{
    border: 2px solid #8B48BF;
    background-color: rgba (255, 0, 0, .5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 12em;
    height: 45px;
    border-radius: 25px;
    transition: all .5s ease-in-out
}

.below-article:hover{
    background-color: #8B48BF;
    color: #fff;
    transform: scale(1.1);
}

.above-footer{
    background-color: #8B48BF;
    height: 225px;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.above-footer div{
    width: 32%;
}

.above-footer p{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.above-footer button{
    background-color: rgba (255, 255, 0, .5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #8B48BF;
    font-weight:500;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    transition: all .4s ease-in-out;
}

.above-footer button:hover{
    transform: scale(1.1);
}


/*footer*/


footer{
    background-color: #1E1E26;
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.sec-left-container{
    height: 90%;
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container-footer{
    width: 120px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left-container-footer a{
    align-self: flex-end;
}

.ul{
    height: 70%;
    width: 30%;
}

.ul ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}


.footer a{
    color: #fff;
}


.ul-2{
    height: 70%;
    width: 30%;
}

.ul-2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.ul-2 a{
    color: #fff;
}

.sec-ul{
    display: flex;
    width: 40%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.input input{
    width: 200px;
    height: 50px;
    border: 2px solid #8B48BF;
    border-radius: 25px;
}

.input button{
    height: 50px;
    width: 80px;
    border-radius: 25px;
}

.input button:hover{
    transform: none;
}


.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.input p{
    color: #8C8C94;
    font-size: 12.5px;
}

.copy{
    display: none;
    color: #8C8C94;
    font-size: 12.5px;
}





@media (max-width:480px){

    /*header*/

    nav{
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
    }


    div ul{
        display: none;
    }

    .contact{
        display: none;
    }

    .burguer{
        display: flex;
        margin-right: 50px;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    /*main*/

    .sec-big-container{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100vw;
        height: 740px;
        margin: 0;
        margin-left: 20px;
    }

    .big-container{
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100%;
        margin: 0;
    }

    .big-container img{
        width: 400px;
        height: 340px;
        margin: 0;
    }


    .right-container{
        width: 400px;
        height: 350px;
        margin: 0px;
        margin-top: 30px;
    }

    h1{
        margin: 0;
    }


    .right-container h2{
        margin: 0;
    }


    .purple-container{
        height: 306px;
        background-color: #3CDDF3;
        flex-direction: column;
    }

    .left-container-bottom {
        margin: 15px;
        width: 90%;
        margin-top: 30px;
    }


    .right-container-bottom{
        margin: 15px;
        width: 90%;
        margin-bottom: 30px;
    }


    .sec-donec{
        flex-direction: column;
        height: 400px;
    }

    .donec-container{
        height: 100%;
        flex-direction: column;
        width: 95%;
        margin: 0;
    }

    .donec-container-left{
        width: 100%;
        position: relative;
    }

    .button01{
        margin: 0;
        position: absolute;
        width: 50px;
        top: 10px;
        right: 410px;
    }

    .donec-container-left h2{
        background-color: rgba(139, 72, 191,.5);
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color: #000;
    }

    .sec-articles{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 1400px;
        width: 100vw;
        margin: 0;
        margin-top: 20px;
    }

    .sec-articles article{
        width: 100%;
        height: 400px;
        margin: 0;
    }

    article p{
        width: 95%;
        height: 30%;
    }

    .above-footer{
        background-color: #3CDDF3;
        height: 366px;
        width: 100vw;
        flex-direction: column;
    }

    .above-footer div{
        width: 70%;
        text-align: center;
    }

    .above-footer button{
        background-color: #232C50;
        color: #fff;
    }

    /*footer*/


    footer{
        height: 535px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .input{
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .input div{
        width: 90%;
    }


    .input input{
        width: 70%;
    }

    .input p{
        display: none;
    }

    .sec-ul{
        width: 100%;
    }

    .ul ul{
        align-items: flex-start;
    }

    .ul-2 ul{
        align-items: flex-start;
    }

    .sec-left-container{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }


    .left-container-footer{
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-container-footer-2{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }


    .copy{
        display: block;
        justify-self: flex-start;
        margin-bottom: 20px;
    }

}